external/*
__pycache__/*
**/__pycache__/*
notebooks/.ipynb_checkpoints/*.ipynb
wandb/*
saved_mtxs/*
saved_mtxs_old/*
.DS_Store
notebooks/.DS_Store
**.pyc
full-pipeline-simulation-DCDI
full-pipeline-simulation-DCDFG
